* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 70px;
  color: #1a2236;
  padding-bottom: 20px;
  padding-left: 16px;
}

#geometry1 {
  width: 111px;
  height: 74px;
}

.hello {
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

#menu {
  margin-right: 16px;
  padding-top: 19px;
}

button {
  background-color: #1a2236;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 288px;
  height: 50px;
  text-align: center;
  box-shadow: none;
  border: none;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #98dede;
  color: white;
}

#collab {
  padding-bottom: 50px;
  align-self: center;
}

#geometry2 {
  align-self: stretch;
  margin: 0;
  width: 100%;
}

.parragraph {
  margin-left: 16px;
  margin-right: 16px;
}

.works {
  display: grid;
  width: 100%;
  height: auto;
}

.subtitle {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 32px;
  margin-left: 16px;
}

.laptop {
  width: 100%;
  margin-bottom: 0;
  margin-top: -5px;
}

.project {
  background-color: #1a2236;
  padding-left: 20px;
  height: 156px;
  margin-top: -5px;
  padding-bottom: 200px;
}

.proj-name {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 16px;
}

.tools {
  display: flex;
  margin-bottom: 20px;
  margin-left: -20px;
}

.tool {
  background-color: #98dede;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 10.33px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  list-style-type: none;
}

.see-project {
  display: flex;
  border: solid 1px white;
  width: 178px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  height: 44px;
  align-items: center;
}

.arrow {
  margin-left: 12px;
}

.about {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 30px;
  margin-right: 16px;
  margin-bottom: 32px;
  color: #1a2236;
  align-self: center;
}

.about p {
  margin-bottom: 32px;
  line-height: 21px;
}

#about-title {
  margin-left: 0;
  padding-bottom: 10px;
}

.cv {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #1a2236;
  color: white;
  width: 288px;
  height: 50px;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.cv img {
  padding-left: 15px;
  width: 35px;
}

#getCV {
  padding-left: 79px;
  padding-right: 25px;
}

.skill-subtitle {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 21px;
  margin-top: 50px;
}

.languages-list {
  width: 289px;
  height: 289px;
  background-color: #1c528a;
  background-image: url(images/gato.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 40px;
  padding-left: 50px;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.frameworks-list {
  width: 289px;
  height: 289px;
  background-color: #e2505c;
  background-image: url(images/ic_framework.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 40px;
  padding-left: 50px;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.skills-list {
  width: 289px;
  height: 289px;
  background-color: #febf52;
  background-image: url(images/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 40px;
  padding-left: 50px;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  justify-items: center;
  align-self: center;
}

li {
  position: relative;
  left: 20px;
  list-style-type: none;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project-list .project {
  position: relative;
  left: 0;
  top: 0;
}

.project-list .laptop {
  margin-bottom: -5px;
}

.get-started {
  background-color: #f9f9fa;
  background-image: url(./images/image_geometry_1.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 106px;
}

.get-started p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 18px;
  margin-right: 16px;
  margin-bottom: 32px;
  color: #1a2236;
  align-self: center;
  line-height: 21px;
}

form {
  justify-items: center;
  align-self: center;
}

form li {
  position: relative;
  left: 0;
  top: 0;
  margin-left: 18px;
  margin-right: 16px;
  margin-bottom: 8px;
  color: #1a2236;
  align-self: center;
  line-height: 21px;
}

form label {
  position: absolute;
  padding-left: 16px;
  padding-top: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
  color: #7d7c84;
}

form input {
  height: 52px;
  width: 288px;
  border: solid 1px #dfdfe0;
  padding-left: 16px;
  padding-top: 23px;
  padding-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  border-radius: 4px;
}

form textarea {
  resize: none;
  width: 288px;
  height: 112px;
  border: solid 1px #dfdfe0;
  border-radius: 4px;
}

textarea::-webkit-input-placeholder {
  padding-left: 16px;
  padding-top: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
}

.project-list img {
  transition: .4s;
}

.project-list img:hover {
  transform: scale(1.1);
}

.get-started p {
  transition: 1s;
}

.get-started p:hover {
  transform: translate(10px);
}

.logo {
  transform: rotate(360deg);
}